.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ffc107;
    width: 98%;
    margin: 0 auto;
    color: black;
    text-align: center;
    height: 35px;
    padding-top: 5px;
    border-radius: 5px;
}

.container-fluid {
    height: auto;
}

.page-content {
    width: 97%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.homeh3 {
    font-weight: 100;
    text-align: center;
}

.homeh1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
}

#homelogo {
    display: block;
    width: 25%;
    margin: 0 auto 20px auto;
}

#home-signup {
    margin-top: 45px;
}

.rowbutton {
    min-width: 200px;
    height: 80px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    border: 0.08em solid grey;
    border-radius: 25px;
    text-align: center;
    background-color: #F7F7F7;
    font-size: 50px;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-weight: 100;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 10px;
    outline: none;
    transition: 0.4s;
    border: 4px solid white;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
    border: 4px solid white;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border: 4px solid white;
}

#plate {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
